h1{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 35px;
}


h3{
    font-size: 25px;
}

a{
    color: red;
}


a:hover{
    color: blue;
}

del{

    color: red;
}

ins{

    color: red;
}
footer{
    width: 900px;
    border: 5px;
    border-color: darkblue;
}

.p1{
    border: 5px;
    border-color: darkblue;
}

li{
    font-size: 25px;
}



.c1{
    text-align: right;
    width:10px;
}


.c2{
    text-align: right;
}